<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.jett.dao.ActMapper">
    <select id="findAll" resultMap="actList">
        SELECT * FROM `ACT`;
    </select>

    <resultMap id="actList" type="com.jett.beans.Act">
        <result property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="state" column="STATE"/>
        <result property="text" column="TEXT"/>
    </resultMap>
</mapper>
